.not-found {
  position: fixed;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found-title {
  text-align: center;
  margin-bottom: 70px;
  background-color: #fff;
  padding: 15px;
}

.not-found-img-block {
  overflow: hidden;
}

.not-found-img {
  display: block;
  margin: 0 auto;
}
