.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-content {
  font-size: 26px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
