.info-title-block {
  width: 100%;
  background: #bebebe;
}

.info-title {
  width: 450px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background: #f1f1f1;
  padding: 5px 10px;
  margin-left: 30px;
}

.info-description,
.content-info {
  width: 100%;
  line-height: 25px;
  padding: 10px 40px;
  letter-spacing: 2px;
}

.content-info-label {
  background-color: #bebebe;
  padding: 5px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 6px;
}

.content-info-text {
  background-color: #a8a8a8;
  padding: 14px;
}
