*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'SUSE Mono', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: #6169af;
}

.container {
  width: 1210px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
