*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'SUSE Mono', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: #5d5e69;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: #302a36;
}

body::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

.container {
  width: 1210px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main {
  margin-top: 100px;
}

.page-title {
  background-color: #fff;
  padding: 15px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 300;
  text-transform: uppercase;
}
