.home-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 30px;
  background: #ffff;
  padding: 30px;
}

.home-image {
  background: #787379;
  padding: 5px;
}

.home-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.home-content-info {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  background: #d8d8d8;
}
